<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Agregar</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='estilos/Agregar.css')}}"

</head>
<body>
    <h1>Agregar producto </h1>
    <form method = "POST" > 
        {{forma.csrf_token}}
        <p> 
            {{forma.id_producto.label}}<br />
            {{forma.id_producto(size = 30)}}
        </p>    

        <p> 
            {{forma.nombre.label}}<br />
            {{forma.nombre(size = 30)}}
        </p>    

        <p> 
            {{forma.serie.label}}<br />
            {{forma.serie(size = 30)}}
        </p>  
        
        <p> 
            {{forma.categoria.label}}<br />
            {{forma.categoria(size = 30)}}
        </p>    

        <p> 
            {{forma.enviar()}}    
        </p>    

    </form>
</body>
</html>