<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='estilos/error.css')}}">
    <meta charset="utf-8">
    <title>Error Page </title>
</head>

<body>
    <div id="error-page">
        <div class="content">
            <h2 class="header" data-text="Error">Error</h2>
            <h4 data-text="Página no encontrada :("></h4>
            <p>
                <div>{{error}}</div>
            </p>
            <div class="btns">
                <a href="{{url_for('inicio')}}">Volver</a>
            </div>
        </div>
    </div>
</body>
</html>